In [1]:
import numpy as np
from pandas import DataFrame as DF
import matplotlib.pyplot as plt

# 编程 6.4-1(d)

In [2]:
def Midpoint_method(f, a, b, h, y_0):
    n = int((b - a)/h)
    d = len(y_0)
    
    t = np.linspace(a, b, n+1)
    w = np.zeros((d, n+1))
    w[:, 0] = y_0
    
    for i in range(n):
        w[:, i+1] = w[:, i] + h*f(t[i] + h/2, w[:, i] + f(t[i], w[:, i])*h/2)
        
    return t, w

In [6]:
a, b = 0, 1
h = 0.1
y_0 = [1]

def f(x, y):
    return 5*x**4*y

def s(x):
    return np.exp(t**5)

t, w = Midpoint_method(f, a, b, h, y_0)

error = abs(s(t) - w[0])

DF({"t": t, "w": w[0], "Error": error}).set_index('t')[['w', 'Error']]

            w     Error
t
0.0  1.000000  0.000000
0.1  1.000003  0.000007
0.2  1.000256  0.000064
0.3  1.002211  0.000222
0.4  1.009746  0.000547
0.5  1.030581  0.001162
0.6  1.078470  0.002393
0.7  1.177846  0.005174
0.8  1.375370  0.012375
0.9  1.771104  0.033768
1.0  2.610701  0.107580

# 编程 6.4-2(d)

In [8]:
def RK4(f, a, b, h, y_0):
    n = int((b - a)/h)
    d = len(y_0)
    
    t = np.linspace(a, b, n+1)
    w = np.zeros((d, n+1))
    w[:, 0] = y_0
    
    for i in range(n):
        s_1 = f(t[i], w[:, i])
        s_2 = f(t[i] + h/2, w[:, i] + s_1*h/2)
        s_3 = f(t[i] + h/2, w[:, i] + s_2*h/2)
        s_4 = f(t[i] + h, w[:, i] + s_3*h)        
        
        w[:, i+1] = w[:, i] + (s_1 + 2*s_2 + 2*s_3 + s_4)*h/6
        
    return t, w

In [9]:
t, w = RK4(f, a, b, h, y_0)

error = abs(s(t) - w[0])

DF({"t": t, "w": w[0], "Error": error}).set_index('t')[['w', 'Error']]

            w         Error
t
0.0  1.000000  0.000000e+00
0.1  1.000010  4.166443e-07
0.2  1.000321  8.319322e-07
0.3  1.002434  1.238971e-06
0.4  1.010294  1.621918e-06
0.5  1.031745  1.952405e-06
0.6  1.080865  2.165436e-06
0.7  1.183021  1.944933e-06
0.8  1.387744  1.205333e-06
0.9  1.804843  3.003836e-05
1.0  2.717976  3.054192e-04